/* Style général */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(img/biere\ \(2\).jpeg) no-repeat center center scroll;
    background-size: cover;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

@keyframes winEffect {
    0% {
        background-position: 50% 50%;
    }
    25% {
        background-position: 48% 52%;
    }
    50% {
        background-position: 52% 48%;
    }
    75% {
        background-position: 49% 51%;
    }
    100% {
        background-position: 50% 50%;
    }
}

/* Conteneur principal */
.container {
    min-height: 80vh;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 50%;
    position: relative;
}

/* Titre */
h1, h3, h4, h5 {
    margin-bottom: 15px;
    color: green;
}

/* Rotation continue du logo */
.logo img {
    display: block;
    margin: 20px auto;
    width: 300px;
    max-width: 100px;
    height: auto;
    animation: rotation 5s linear infinite;
    background-color: white;
    border-radius: 50px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Formulaire */
form {
    text-align: left;
}

/* Champs uniformes */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Bouton */
button {
    width: 50%;
    padding: 12px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background: #06783c;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer fixe */
footer {
    width: 100%;
    background: #076928;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}